@page
@model cw4_RPages.Pages.IndexModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/index.css">
</head>

<body>
    <h1>Strona RazorPage - Index</h1>
    <section>
        <a href="/other">Do innej strony</a><br />
        <a asp-page="Second">Strona z tabelką</a>
    </section>
    <p>To jest tekst <strong>przykładowy</strong>.</p>
    <p>Aktualna data i godzina: @DateTime.Now</p>
    <section style="margin-top:20px;border:solid 1px black;padding:10px;">
        <p id="time"></p>
        <img src="~/dotnet.png" alt="dotnet logo" width="100">
    </section>
    <section>
        @Model.GetHello("User")
        <span>Losowa liczba: @Model.Number</span>
    </section>

    <script src="~/script.js" defer></script>
</body>

</html>