@page
@model cw4_RPages.Pages.OtherModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OtherSite</title>
</head>
<body>
    <h1>Strona RazorPage - Other</h1>
    <section>
    <a asp-page="Index">Powrót do strony głównej</a>
    </section>
</body>
</html>