#scene1 {
  margin: auto;
  width: 600px;
  height: 400px;
  border: 2px solid black;
  background-color: lightgray;
  text-align: center;
  font-size: 2rem;
}
#scene2 {
  position: absolute;
  left: 150px;
  top: 150px;
  width: 40px;
  height: 40px;
  background-color: blue;
  z-index: 10;
  opacity: 0;
}
