<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Informacje o samochodzie</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis cumque necessitatibus incidunt accusamus, voluptates aperiam quod iusto delectus distinctio libero itaque, quidem obcaecati et saepe corporis. Suscipit, quidem fugit? Ad?</p>
<div>
<a asp-action="Index">Powrót do index</a>
</div>
</body>
</html>
