@model List<User>
<h3>
    Lista użytkowników
</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Lp</th>
            <th>Nazwa użytkownika</th>
            <th>Email</th>
            <th>Data utworzenia</th>
        </tr>
    </thead>
    <tbody>
        @foreach(User u in Model){
            <tr>
                <td>@u.Id</td>
                <td>@u.Username</td>
                <td>@u.Email</td>
                <td>@u.Date?.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>