@page
@model cw5_form1.Pages.Form2Model

<h2>Formularz 2 metoda post</h2>
<form asp-page="Form2" method="post">
    <input type="text" placeholder="Podaj imię" name="firstname"> <br />
    <input type="text" placeholder="Podaj nazwisko" name="lastname"> <br />
    <input type="number" name="age"> <br />
    <input type="submit" value="Wyślij">
</form>
<hr />
<p>Imię: @Model.MyPerson?.FirstName</p>
<p>Nazwisko: @Model.MyPerson?.LastName</p>
<p>Wiek: @Model.MyPerson?.Age</p>