<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>To jest nagłówek</header>
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="Fish">Fish</a></li>
                <li><a asp-controller="Home" asp-action="FromModels">Goat</a></li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        @{ var year = DateTime.Now.Year; }
        <p>&copy; @year - My Application</p>
    </footer>
</body>
</html>