table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
  text-align: center;
}
/* kolory co drugiego wiersza inne */
tr:nth-child(even) {
  background-color: #f5d4d4;
}
tr:hover {
  background-color: #d5e97e;
}
h1 {
  text-align: center;
  border-bottom: gray 1px solid;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  border-top: gray 1px solid;
  background-color: #f2f2f2;
}
body {
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  gap: 10px;
}
#left,
#right {
  width: 50%;
  border: solid 1px black;
  min-height: 200px;
}
